ANewProject
Array1d
Array2d
Array2d_demo
#BinaryIO
BinaryIO/src/binaryIOsolution
Checkpoint3
ComparisonOperators
cs2012lect1demo
cs2012sat20200829demo
DateClass_demo
EtchAsketch
EtchAsketch2
EtchAsketch_HW7checker
Exceptions_ErrorHandling
#File-IO-Demo
FileIOdemo2
File-IO-Demo-fromJunk
FXMLClickCounter
FXMLDemo
.git
#.gitignore
GradingChecker_HW6
HauntedStroll
HelloWorld
Homework1Arrays
Homework1Arrays_gradeRunner
Homework2_Quadrilateral
Homework2_Quadrilateral-2
Homework2_Quadrilateral-3
#Inheritance_Demo
Inheritance_Demos2
Inheritance_Examples
InheritanceExercise2
JavaFXdemo_Collection
#JavaFXdemo_examples
JavaFXdemo_examples/src/solutions
#JavaFXdemo_examples/src/suppliment
#JavaFXdemo_setup
JavaFX_Pasture_part_1
JavaFX_Pasture_part_2
JavaFXprojectSetupDemo
.metadata
MethodDemo
ObjectOriented
Polymorphism
PracticeSketchDemo
ProtectedDemo
Qadrilateral
QuickRunWithJavaFX
#README.MD
Rectangle_demo
Rectangle_demo2
Rectangle_demo3
RoundingError
ScannerConsoleInput_demo
ScratchIt
StackOverflower
StringBuilderScratchPad
String_demo
#TextBookCode
VehicleRepair-MidTerm
VisibilityAndAccess_demo
WrapperClasses
XGradeChecker
ZZZ_bottomFiller_ZZZ
bin/
.classpath
.project
*.backup
*.kate-swp
*.old


# a bash function for doing quick gitHub updates

#  cupdate() {  git add . ; git commit -m "quick code update" ; git push origin main ; } 

# note to self because I always forget this one when resetting the .gitignore
#  git rm -r --cached . 

#  git ls-files --others --exclude-standard

# list by only name$  ls -1a
